@import "variables";
@import "donate";
@import "header";
@import "footer";


* {
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding:0;
  margin:0;
}

#header {
  padding:10vh;
  height:auto;
  @media(max-width:800px){
    padding:10vh 10px 10px 10px;
  }

  h1 {
    width:50%;
    margin:30px auto;
    font-size:40pt;
    text-align: center;
    @media(max-width:1200px){
      text-align: center;
      width:90%;
      font-size:35px;
    }
    @media(max-width:800px){
      font-size:25px;
    }
  }

  h3 {
    width:50%;
    margin:auto;
    font-size:23px;
    text-align: center;
    line-height:1.6;
    @media(max-width:1200px){
      text-align: center;
      width:90%;
      margin:auto;
      font-size:18px;
    }
    @media(max-width:800px){
      width:100%;
      margin:auto;
      font-size:16px;
    }
  }

  h5 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin:50px auto;
    width:50%;
  }
}



h4 {
  margin:5px 0;
}



.leaflet-container {
  background-color: white;
}

.leaflet-popup-content-wrapper {
  max-width:80vw;
}


main {
  display:block;
  @media (max-width:825px) {
    display:block;
  }
}


#map {
  margin: auto;
  height: 90vh;
  @media(max-width:800px){
    width:90%;
    min-height: 100vh;
    height: auto;
  }

  #buttonContainer {
    height:30px;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
  }
}



.legend, .legend_oldrada {
  padding:20px 5px;
  background-color: white;
  font-size:15px;
  line-height: 1.6;
  color: #555;
  @media(max-width:800px){
    padding:2px 2px 20px 2px;
    //line-height: 1.4;
    font-size:12px;
  }
}

.legend i, .legend_oldrada i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;

}

.photo {
  width:100px;
  border: 1px solid grey;
  border-radius: 5px;
}


button.my-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color:#ffffff;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial, sans-serif;
  font-size:15px;
  font-weight:bold;
  padding:8px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

button.my-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color:#f6f6f6;
}

button.my-button:active {
  background-color:red;
  position:relative;
  top:1px;
}


