@import "variables";
@import "donate";
@import "header";
@import "footer";


body {
  font-family: 'Montserrat', sans-serif;
  padding:0;
  margin:0;
}




main {
  display:block;
  @media (max-width:825px) {
    display:block;
  }
}



#map {
  margin: auto;
  height: 100vh;
}

//path {
//  stroke: grey;
//  stroke-width:1px;
//  fill: red;
//}

